<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <title>Cloud Solutions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
    

    
</head>
<body style="background:white;">
        <div id="header" style="background-image: linear-gradient(to right, #5680E9 ,#84CEEB,#5AB9EA,#C1C8E4,#8860D0);">
                <a href="home">  Home</a> &nbsp;&nbsp; About Us &nbsp;&nbsp;  Services &nbsp;&nbsp;  Contact Us <span class="sign">Sign In </span> 
                
            </div> 
            <!--
    <div id="bg">
        <h4>A little to know about me</h4>
        <p>A learner who is keen to be up to date in a hard way.</p>
    
    </div>-->
    
    <div class="page-container">
            <div class="shape">
               
                    <div class="container-fluid">
                            <h4>Blogs</h4>
                            <h4><a href="cloudsolutions">Cloud-Solutions</a></h4>
                            <h4><a href="DevOps">DevOps</a></h4>
                            <h4><a href="CI/CD">CI/CD</a></h4>
                            <h4><a href="Kubernetes">Kubernetes</a></h4>
                     </div>
                    

            </div>

            
    </div>
    
    <div class="footer" style="background-image: linear-gradient(to right, #5680E9 ,#84CEEB,#5AB9EA,#C1C8E4,#8860D0);">
            knowAtoV solutions<br> copyright reserved
        </div>
    <!-- <script type="text/javascript" src="static/js/bootstrap.js" charset="utf-8"></script> -->
</body>
</html>